@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li, a, button {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(255, 171, 0);
  text-decoration: none;

}

header {
  display: flex;
  justify-content: space;
  align-items: left;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.navBar {
  list-style: none;
}
